.post {
    position: relative;
    width: 220px;
    height: 310px;


    background-size: cover;

    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}
.name {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;

    padding: 5px;
    text-align: center;

    color: white;
}
.like {

    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;


    color: white;
}
.container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    

    background: rgba(0,0,0,.6);
}


