.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0;
    background-color: white;

    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}
.logo_container {
    display: flex;
    align-items: center;
}
.logo a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;

    text-decoration: none;

    cursor: pointer;

    color: rgb(76, 69, 177);
}
.nav {
    display: flex;
    gap: 10px;

    font-family: Arial, Helvetica, sans-serif;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

}
.link a {
    text-decoration: none;
    color: rgb(76, 69, 177);
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    cursor: pointer;

    padding: 5px 15px;

    outline: none;
    border: none;

    background-color: rgb(76, 69, 177);
    color: white;
}
.input {
    outline: none;
    border: none;
    border-radius: 4px;

    padding: 5px;

    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}